/* Tracker.css */

.container {
  padding: 20px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.select {
  width: 100%;
  margin-bottom: 20px;
}

.button {
  width: 200px;
  margin: 20px auto;
}

.stepper {
  margin-top: 40px;
}

.step-label {
  font-size: 16px;
}

.step-tooltip {
  font-size: 14px;
}

.react-flow__edge-path {
  stroke: #222; /* Dark color (adjustable) */
}

.react-flow__edge-path.selected {
  stroke: #f00; /* Optional: Different color for selected edges */
}
